<form action="/sessions/authenticate" method="POST">
  <input required type="text" name="email" placeholder="email">
  <input required type="text" name="password" placeholder="password">
  <input type="submit" value="Submit">
</form>
